.container {
  width: 750rpx;
  display: block;
  min-height: 100vh;
  height: 100vh;
  background: #fff!important
}
// button{
//   height: 100vh!important;
// }
// .contact{
//   position: fixed;
//   right: 40rpx;
//   bottom: 157rpx;
//   width: 90rpx;
//   height: 90rpx;
//   z-index: 100;
//   background-image: url('https://inimg07.jiuyan.info/in/2018/01/25/856C014E-B61F-6B2D-FF9F-FBC51D0B4C98.png');
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: center;
//   overflow: hidden;
 
// }

.top{
  position: relative;
  margin: -200rpx 29rpx 0;
  padding: 30rpx 45rpx 50rpx;
  background: #fff;
  border-radius: 6rpx;
  width: 602rpx;
  box-shadow: 1px 1px 20px #fb8a80;
  .card{
    width: 458rpx;
    height: 284rpx;
    margin: 0 auto;
    // background-image: url('https://inimg07.jiuyan.info/in/2018/03/06/52D41D36-3469-2E03-DE09-1A4E1A9CD561.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .icon{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-top: 30rpx;
    .icon-item{
      text-align: center;
      flex-grow:1;
      .img{
        width: 60rpx;
        height: 63rpx;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .title{
        font-size: 28rpx;
        color: #333;
        line-height: 36rpx;
      }
      .desc{
        font-size: 18rpx;
        color: #000;
        opacity: 0.4;
        line-height: 36rpx
      }
    }
  }
  .course{
    font-size: 26rpx;
    color: #000;
    margin-top: 30rpx;
    position: relative;
    line-height: 42rpx;
    .title{
      font-weight: bold;
      font-size: 28rpx;
      color: #333;
    }
    .btn{
      font-size: 21rpx;
      color: #fa6f51;
      border: 2rpx solid #fa6f51;
      float: right;
      border-radius: 8rpx;
      padding: 3rpx 8rpx;
    }
  }
  .video{
    position: relative;
    margin-top: 50rpx;
    .covertop{
      position: absolute;
      top: -14rpx;
      left: 104rpx;
      width: 401rpx;
      height: 92rpx;
      text-align: center;
      background: url('https://inimg02.jiuyan.info/in/2018/03/06/55DBDC7E-2EA0-7C36-1A78-3668A2977138.png') no-repeat;
      background-size: contain;
      background-position: center;
      color: #fff;
      .title{
        font-size: 30rpx;
        margin-top: 8rpx;
        line-height: 42rpx
      }
      .desc{
        font-size: 19rpx;
        line-height: 24rpx;
      }
    }
    .coverbtn{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('https://inimg01.jiuyan.info/in/2018/03/06/EA9A65CE-9D28-7199-F6B0-716F6224A86B.png') no-repeat;
      background-size: 88rpx;
      background-position: center;
    }
  }
}
.tabbar{
  width: 750rpx;
  height: 100rpx;
  background: #fff;
  box-shadow: 1px 1px 3px #666;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 28rpx;
  color: #333;
  align-content:space-between;
  .tabbar-item{
    flex-grow:1;
    text-align: center;
    position: relative;
    height: 100%;
    line-height: 100rpx;
    .jiao{
      width:0;
      height:0;
      position:absolute;
      top:100%;
      left:88rpx;
      border-top:12rpx solid #f94d3e;
      border-right:12rpx solid transparent;
      border-left:12rpx solid transparent;
      display: none;
    }
    &.on{
      background: #f94d3e;
      color: #fff;
    }
  }
  .on .jiao{
    display: block;
  }
  &.fix{
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
  }
}
.c-part-live{
  position: relative;
  background: #fff;
  swiper{
    height: 400rpx;
    image{
      width: 90%;
      margin: 5%;
      border-radius: 10rpx;
      box-shadow: 1rpx 1rpx 20rpx #666;
    }
  }
  .area{
    font-size: 24rpx;
    text-align: center;
    background: url('https://inimg01.jiuyan.info/in/2018/03/08/AF0AC15C-7052-0351-FDC7-9B8E1704F7EB.png') no-repeat;
    background-size: 44rpx 55rpx;
    background-position: 28%;
    margin-bottom: 50rpx;
  }
  .liveList{
    margin-top: 30rpx;
  }
}
.c-part-comment{
  position: relative;
  background: #fff;
  margin-top: 50rpx;
  .pics{
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
.topic{
  font-weight: bold;
  color: #f73834;
  font-size: 38rpx;
  padding-left: 37rpx;
  background-image:url('https://inimg07.jiuyan.info/in/2018/03/07/4A31A7C7-1D0F-C824-8163-B82069580F95.png');
  background-repeat: no-repeat;
  background-size: 38rpx 28rpx;
  background-position: 27%;
  text-align: center;
}
.videoWindow{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.5);
  z-index: 9990;
  .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  video{
    width: 100%;
    height: 100%;
  }
}

.s-video-wrap {
  padding: 34rpx;
  width: 750rpx;
  height: 439rpx;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: scroll;
  video {
    width: 100%;
    height: 100%;
  }
  video.hidden {
    width: 0rpx;
    height: 0rpx;
  }
  .play-module {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .play-bg {
    width: 100%;
    height: 100%;
  }
  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 106rpx;
    height: 106rpx;
  }
}
contact-button {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  width: 100%!important;
  height: 100%!important;
  transform: scale(10);
  opacity: 0;
  z-index: 0!important;
}
.wx-contact-button{
  width: 100%!important;
  height: 100%!important;
}
.some-btn-wrap{
  position: fixed;
  z-index: 99;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100rpx;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 1000;
  &.cut:before{
    content:'';
    position: absolute;
    right: 22rpx;
    top: -110rpx;
    width: 536rpx;
    height: 95rpx;
    background: url(' https://inimg01.jiuyan.info/in/2018/02/05/D947AE03-01DC-5C2E-824C-DF4AB8187437.jpg') no-repeat;
    background-size: contain;
    background-position: center;
  }
  .btn{
    flex:1;
    height:100rpx;
    height: 100rpx;
    font-size: 32rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color:#fff;
    .price{
      font-size: 36rpx;
    }
    text{
      font-size: 20rpx;
    }
  }
  
  .btn-icon{
    font-size: 18rpx;
    color: #666666;
    width: 96rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:50rpx;
    background-repeat: no-repeat;
    background-size: 45rpx auto ;
    background-position: top center;
    position: relative;
    overflow: hidden;
  }
  .btn-index{
    background-image: url('https://inimg01.jiuyan.info/in/2018/02/03/1946BAF7-B680-9C02-27F8-F24BA8E50CCB.jpg');
  }
  .btn-share{
    background-image: url('https://inimg07.jiuyan.info/in/2018/02/09/65E84CEA-3FD6-23BE-B9E9-4D732BF3D63F.jpg');
  }
  .btn-contract{
    background-image: url('https://inimg01.jiuyan.info/in/2018/02/03/70FE5E8A-722B-A9DE-08A9-1F645D905D7D.jpg');
  }
  .btn-origin{
    background-image: linear-gradient(-90deg, #FCB43D 0%, #FEC872 100%);
    // &.disable {
      //   background: #E0E0E0;
      //   border-color: #E0E0E0;
      //   color: #fff;
      // }
    }
    .btn-cut,.btn-red{
      background-image: linear-gradient(90deg, #FD9C6C 0%, #F95557 100%);
      position: relative;
  }
  .btn-red{
    flex-direction: row;
    .btnbig{
      font-size: 36rpx;
    }

  }
}
.container{
  text-align: left;
  background-color: #270547;
  padding-bottom:  100rpx;
}
.c-bg{
  // width: 100%;
  // height: 1550rpx;
  font-size: 0;
  box-sizing: border-box;
  // background-color:#1a0448;
  // background-image: url('https://inimg01.jiuyan.info/in/2018/01/31/0E2EB360-EE37-AC5D-F774-1CF34BB7EB1F.jpg'),url('https://inimg01.jiuyan.info/in/2018/01/31/8FE47727-3E04-D365-B657-D9D7C79D11FE.jpg'),url('https://inimg01.jiuyan.info/in/2018/01/31/625DF2A0-FCD4-C1BD-6582-FF19E578781D.jpg');
  // background-image: url('https://inimg01.jiuyan.info/in/2018/01/25/DFCEA846-C96D-50C8-7515-E5EC87038A8E.jpg');
  // background-repeat: no-repeat;
  // background-size: 100%  auto;
  // background-position: 0 0,0 515rpx,0 1030rpx;
  position: relative;
  padding-bottom: 140rpx;
  .cover_img{
    height: 225px;
    border: 16rpx solid #fa6f51;
    border-radius: 15rpx;
    box-shadow: 1px 1px 10px #fa6f51;
    box-sizing: border-box;
  }
  .logo{
    position: absolute;
    top:25rpx;
    left:218rpx;
    width: 306rpx;
    height: 44rpx;
    background-image: url('https://inimg01.jiuyan.info/in/2018/01/20/B79AAFBC-5FC1-FFB9-CE7B-23C09BDBACE0.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .pay-btn{
    margin:25rpx auto 0 auto;
    width: 505rpx;
    height: 90rpx;
    text-align: center;
    line-height: 90rpx;
    font-size: 32rpx;
    color: #fff;
    background-image: linear-gradient(90deg, #FD9C6C 0%, #F95557 100%);
    border-radius: 600rpx;
  }
  video {
    width: 100%;
  }
  .image{
    width: 750rpx;
    height: 700rpx;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  image {
    display: block;
    width: 100%;
    height: auto;
  }
}
.c-card-num-wrap{
  width:588rpx;
  height: 20rpx;
  margin:0 auto;
  color:#fff;
  position: relative;
  .s-outer{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #220557;
    border-radius: 500rpx
  }
  .s-inner{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 300rpx;
    background: url('https://inimg01.jiuyan.info/in/2018/01/21/E6E7AFEE-AB9A-4C24-9F27-2E3E517FBC90.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border-radius: 500rpx
  }
  .s-inner-num{
    position: absolute;
    top:0;
    right: 0;
    transform: translate(50%,-150%);
    height: 40rpx;
    color: #fff;
    background-color: #d5af6e;
    font-size: 20rpx;
    line-height: 40rpx;
    border-radius: 2000rpx;
    padding: 0 15rpx;

  }
  .s-inner-num:after{
    content:'';
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%,100%);
    width: 0;
    height: 0;
    border-top: 5px solid #d5af6e;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
  // .s-title{
  //   font-size: 44rpx;
  // }
  // .s-desc{
  //   font-size: 23rpx;
  //   line-height: 48rpx;
  // }
  // .s-num{
  //   font-size: 30rpx;
  //   color:#ece93a;
  // }

}
.anch {
  position: absolute;
  z-index: 999;
  right: 0;
  top: 15rpx;
  font-size: 26rpx;
  color: #000;
  width: 134rpx;
  height: 48rpx;
  line-height: 48rpx;
  background: #f7de4f;
  text-align: center;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.front_back {
  position: absolute;
  bottom: 190rpx;
  width: 750rpx;
  color: #fff;

  .front {
    float: left;
    width: 50%;
    padding-left: 130rpx;
    box-sizing: border-box;
    text-align: center;
  }

  .back {
    float: right;
    width: 50%;
    padding-right: 130rpx;
    box-sizing: border-box;
    text-align: center;
  }

  view:nth-child(1) {
    font-size: 32rpx;
  }

  view:nth-child(2) {
    font-size: 28rpx;
  }

  .front view:nth-child(1) {
    color: #f7de4f;
  }

  .front view:nth-child(2) {
    color: rgba(251, 237, 158, .8);
  }
}
.progress {
  width:588rpx;
  margin:15rpx auto;
  overflow: hidden;
  font-size: 22rpx;

  view:nth-child(1) {
    float: left;
    color: rgba(255, 255, 255, .8);
  }

  view:nth-child(2) {
    float: right;
    color: rgba(247, 222, 79, .8);
  }
}

.c-part{
  position: relative;
  width: 100%;
  padding: 55rpx 30rpx 0;
  box-sizing: border-box;
  background-color: #fff;
  // background-image:url('https://inimg01.jiuyan.info/in/2018/01/25/572169AF-DAAC-DDAF-0E40-EF7BEC4DAB57.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  .c-one-part.look{
    margin-top: 40rpx;
    padding-bottom: 30rpx;
    .s-mid-title{
      margin-bottom: 10rpx;
    }
    .s-desc{
      line-height: 1.5;
    }
  }
  .c-one-part.movie{
    .s-mid-title{
      margin-bottom: 15rpx;
    }
    .s-desc{
      line-height: 1.5;
    }
  }
  .c-one-part{
    padding:0 30rpx;
    background-color: #fff;
    .topic{
      width: 750rpx;
      margin-left: -60rpx;
    }
    .s-mid-title{
      margin-top: 10rpx;
      margin-bottom:15rpx;
    }
    .s-desc{
      line-height: 1.5
    }
    .movieList{
      width: 750rpx;
      height: 300rpx;
      margin-left: -60rpx;
      .movies{
        padding-left: 80rpx;
        display: flex;
        flex-direction: row;
        .movie-item{
          display: inline-block;
          margin: 0 15rpx;
          .img{
            width: 175rpx;
            height: 230rpx;
            border-radius: 6rpx;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
          .name{
            font-size: 22rpx;
            text-align: center;
            margin-top: 10rpx;

          }
        }
      }
    }
    .cinemaBg{
      width: 100%;
      height: 80rpx;
      border-radius: 10rpx;
      background-image: linear-gradient(-90deg, #FD9C6C 0%, #F95557 100%);
    }
    .cinemaList{
      box-shadow: 1px 1px 10px #666;
      margin-top: -33rpx;
      width: 106%;
      margin-left: -3%;
      position: relative;
      height: 489rpx;
      swiper{
        height: 555rpx;
        swiper-item{
          overflow: auto;
        }
      }
      image{
        width: 100%;
        display: block;
      }
      .wx-swiper-dots{
        // margin-bottom: 20rpx;
      }
    }
  }
  .s-mid-title{
    margin-top: 45rpx;
    color: #333;
    font-size: 30rpx;
    padding-left: 32rpx;
    font-weight: bold;
    background-image:url('http://inimg01.jiuyan.info/in/2018/03/07/026ACB34-FD11-E060-DAB9-8E4935C774DE.png');
    background-repeat: no-repeat;
    background-size: 36rpx 36rpx;
    background-position: left 7rpx;
    // &.ciname{
    //   background-image:url('https://inimg01.jiuyan.info/in/2018/01/20/F468E728-7673-4CFD-E805-ECD9B33C8B4A.jpg')
    // }
    // &.movie{
    //   background-image:url('https://inimg01.jiuyan.info/in/2018/01/20/89AD468D-4AEB-A1FA-3FDA-45F2CE8090A2.jpg')
    // }
    // &.movie1 {
    //   background-image: url(https://inimg01.jiuyan.info/in/2018/01/25/8424A450-7AA6-206B-4B17-CDDB282856AF.jpg);
    // }
    // &.movie2 {
    //   background-image: url(https://inimg01.jiuyan.info/in/2018/01/25/BECAEBD4-3B5D-509F-0F00-142AA48C8003.jpg)
    // }
  }
  .s-mid-title + .s-title{
    margin-top:15rpx;
  }
  .s-img-movie{
    display: block;
    width: 100%;
    height: 299rpx;
    margin:15rpx auto 15rpx;
  }
  .s-img-1{
    display: block;
    width: 100%;
    height: 375rpx;
    margin:15rpx auto 45rpx;
  }
  .s-title{
    color: #504f54;
    font-size: 32rpx;
    line-height: 38rpx;
  }
  .s-desc{
    color: #504f54;
    font-size: 24rpx;
    line-height: 28rpx;
    padding-left: 50rpx;
  }
  
  .cinemas-wrap{
    height: 90rpx;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-left: 35rpx;
    margin-bottom: 5rpx;
    border-radius: 6rpx;
    .name{
      width:100%;
      font-size: 28rpx;
      font-weight: bold;
      color: #333333;
      margin-bottom: 8rpx;
      position: relative;
    }
    .name:before{
      content:'';
      position: absolute;
      left:-15rpx;
      top:18rpx;
      width:5rpx;
      height:5rpx;
      background-color: #f7de4f;
    }
    .addr{
      font-size: 20rpx;
      color: rgba(51,51,51,.7);
    }
  }
  .s-tips{
    font-size: 24rpx;
    color:#333333;
    text-align: center;
    width: 100%;
  }
}
.c-last{
  position: relative;
  .topic{
    width: 750rpx;
    margin-left: -60rpx;
  }
  width: 100%;
  padding:35rpx 60rpx;
  box-sizing: border-box;
  margin:0 auto;
  color: #333;
  background: #fff;
  .s-mid-title{
    margin-top: 45rpx;
    font-size: 36rpx;
    padding-left: 37rpx;
    background-image:url('https://inimg01.jiuyan.info/in/2018/01/20/404D8D8E-AEB3-6472-C0D9-2D42E4BAD091.jpg');
    background-repeat: no-repeat;
    background-size: 32rpx 32rpx;
    background-position: left center;
    &.rule{
      background-image:url('https://inimg01.jiuyan.info/in/2018/01/20/220978E1-2E79-143E-07B6-E9DB81F8813B.jpg')
    }
  }
  .s-rules{
    margin:15rpx 0;
    .title{
      font-size: 24rpx;
      line-height: 1.5;
      &.bold{
        font-weight: bold;
        padding-top: 6rpx;
      }
      &.pre{
       margin-left: -12rpx;
      }
    }
    .desc{
      font-size: 20rpx;
      line-height: 1.5;
    }
  }
}
.get-movies-ticket{
  position: fixed;
  right: 14rpx;
  bottom: 235rpx;
  width: 190rpx;
  height: 197rpx;
  z-index: 100;
  background: url('https://inimg01.jiuyan.info/in/2018/02/03/1239A1EB-4D5D-221F-DF7F-6A752B648316.jpg') no-repeat;
  background-size: contain;
  background-position: center;
}
.scrollTitle{
  position: absolute;
  top: -150rpx;
  left: 0;
  width: 100%;
  height: 1rpx;
}

.get-cheap-ticket{
  position: fixed;
  right: 14rpx;
  bottom: 235rpx;
  width: 195rpx;
  height: 224rpx;
  z-index: 100;
  background: url('https://inimg01.jiuyan.info/in/2018/04/08/83826D87-069B-542F-3959-B4A5DBF029F6.jpg') no-repeat;
  background-size: contain;
  background-position: center;
}